<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>ユーザー登録</title>
    </head>
    <body>
        <h1>ユーザー登録</h1>
    <form action="/start-register" method="post">
        <label for="username">ユーザー名:</label>
        <input type="text" name="username" id="username" required><br>
        <label for="password">パスワード:</label>
        <input type="password" name="password" id="password" required><br>
        <input type="start-submit" value="登録">
    </form>
    </body>
</html>
