<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>イベント一覧</title>
</head>
<body>
    <h1>イベント一覧</h1>
    <ul>
        {% for event in events %}
            <p>ID: {{ event[0] }}</p>
            <p>Title: {{ event[1] }}</p>
            <p>Start: {{ event[2] }}</p>
            <p>End: {{ event[3] }}</p>
            <p>Color: {{ event[4] }}</p>
        {% endfor %}
    
    </ul>
</body>
</html>
