<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>tuti</title>
    </head>
    <body>
        <h2>通知</h2>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flashes">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

                <p>連絡フォーム</p>
                <form method="post" action="/submit_mail">
                    <label>名まえ</label>
                    <input type="text" name="my_name" value="{{ my_name }}">
                    <br>

                    <label>連絡を取る相手</label>
                    <input type="text" name="partner_name" value="{{ partner_name }}">
                    <br>

                    <label>件名</label>
                    <textarea type="text" name="subject">
                        {{date}}の{{place}}の予約について
                    </textarea>
                    <br>

                    <label>内容</label>
                    <textarea type="text" name="body" required>
                    </textarea>
                    <br>

                    <button type="submit">連絡を取る</button>
                </form>

                </br>
                <button onclick="location.href='keiziban.html'">戻る</button>
    </body>
</html>
