<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>ユーザー登録</title>
        <link rel="stylesheet" href="static/css/styles.css">
    </head>
    <body>
        <header>
            <h1>ホームページ（ロゴ）</h1>
        </header>
        <div class="container">
            <div class="signup-form">
                <h1>ユーザー登録</h1>
                <form action="/signup" method="post">
                    <label for="username">ユーザー名:</label>
                    <input type="text" name="username" id="username" required><br>
                    <label for="password">パスワード:</label>
                    <input type="password" name="password" id="password" required><br>
                    <button type="submit">登録</button>
                    <div class="links">
                        <a href="/login">ログインページに戻る</a>
                    </div>
            </div>
        </div>
        <footer>
            &copy; 2023 . All Rights Reserved.
        </footer>
    </form>
    </body>
</html>
